.about__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 450px auto;
  }

  picture {
    @media (min-width: $tablet-width) {
      margin-top: 134px;
      grid-row: 1/3;
    }
  }
}

.about__image {
  width: 100%;
  object-fit: cover;
}

.about__story {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  padding: 16px 15px;
  padding-top: 16px;
  padding-bottom: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-left: -92px;
  }

  h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 42px;
  }

  span {
    @include shadow;

    top: 0;

    @media (min-width: $tablet-width) {
      top: 0;
    }
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.about__target {
  max-width: 320px;
  margin: 0 auto;
  padding: 16px 15px;
  padding-top: 16px;
  padding-bottom: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-left: -92px;
  }

  @media (min-width: $tablet-width) {
    grid-column: 2;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
}
