.adv {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/bg-adv@2x.png");
    background-size: 768px 996px;
    background-repeat: no-repeat;
    background-position: right top 196px;
  }
}

.adv__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 100px 0;
  }
}

.adv__title {
  @include h2;

  margin: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.adv__shadow {
  @include shadow;

  top: 8px;

  @media (min-width: $tablet-width) {
    top: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 70px;
  }
}

.adv__slider {
  @media (min-width: $desktop-width) {
    overflow: hidden;
    max-width: 1440px;
  }
}

.adv__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: inherit;
    gap: 0;
    align-items: start;
    margin: 0 auto;
  }
}

.adv__item {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(2, 102, 193, 0.1);
  padding-top: 82px;
  position: relative;
  margin-bottom: 15px;
  background-color: $basic-white;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 324px;
    padding: 30px 20px;
    padding-top: 102px;
  }

  @media (min-width: $desktop-width) {
    max-width: 380px;
    min-width: 380px;
    min-height: 329px;
  }

  h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
    }
  }

  p {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 41px;
    background-image: url("../__spritemap#sprite-shield-view");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 9px;
    border: 1px solid $basic-button;
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 30px;
    }
  }

  &--crown::before {
    background-image: url("../__spritemap#sprite-crown-view");
  }

  &--boots::before {
    background-image: url("../__spritemap#sprite-boot-view");
  }

  &--distance::before {
    background-image: url("../__spritemap#sprite-distance-view");
  }

  &--flower::before {
    background-image: url("../__spritemap#sprite-flower-view");
  }

  &:last-child {
    margin-bottom: 0;
  }
}
