.adv {
  @media (min-width: $tablet-width) {
    background-image: url("../../img/bg-adv-tablet@2x.png");
    background-size: 768px 996px;
    background-repeat: no-repeat;
    background-position: right top 166px;
  }
}

.adv__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 40px 45px;
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 135px 0;
    padding-bottom: 150px;
  }
}

.adv__title {
  @include h2;

  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    text-align: center;
  }
}

.adv__shadow {
  @include shadow;

  top: 22px;

  @media (min-width: $tablet-width) {
    top: 44px;
  }

  @media (min-width: $desktop-width) {
    top: 106px;
  }
}

.adv__slider {
  @media (min-width: $desktop-width) {
    overflow: hidden;
    max-width: 1471px;
  }
}

.adv__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: inherit;
    gap: 0;
    align-items: start;
    margin: 0 auto;
  }
}

.adv__item {
  padding: 19px 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(2, 102, 193, 0.1);
  padding-top: 81px;
  position: relative;
  margin-bottom: 15px;
  background-color: $basic-white;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 324px;
    padding: 29px 19px;
    padding-top: 104px;
    margin-bottom: 0;
    min-height: 340px;
  }

  @media (min-width: $desktop-width) {
    max-width: 380px;
    min-width: 380px;
    min-height: 329px;
    padding-top: 123px;
  }

  h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 15px;
    }
  }

  p {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(1) {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../__spritemap#sprite-shield-view");
    background-repeat: no-repeat;
    background-size: 28px 24px;
    background-position: 6px;
    border: 1px solid $basic-button;
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 30px;
      width: 46px;
      height: 46px;
      background-position: 9px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
      width: 52px;
      height: 52px;
      background-position: 12px;
    }
  }

  &--crown::before {
    background-image: url("../__spritemap#sprite-crown-view");
  }

  &--boots::before {
    background-image: url("../__spritemap#sprite-boot-view");

    @media (min-width: $tablet-width) {
      top: 29px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
    }
  }

  &--distance::before {
    background-image: url("../__spritemap#sprite-distance-view");
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 29px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
    }
  }

  &--flower::before {
    background-image: url("../__spritemap#sprite-flower-view");
    top: 19px;

    @media (min-width: $tablet-width) {
      top: 29px;
    }

    @media (min-width: $desktop-width) {
      top: 40px;
    }
  }

  &--distance h3 {
    margin-top: 1px;

    @media (min-width: $tablet-width) {
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 15px;
    }
  }

  &--flower h3 {
    margin-left: -4px;
    max-width: 170px;

    @media (min-width: $tablet-width) {
      margin-bottom: 14px;
      max-width: 200px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 15px;
      max-width: 340px;
    }
  }

  &--flower br {
    display: block;
    width: 2px;
  }

  &--crown {
    order: 2;

    @media (min-width: $desktop-width) {
      order: inherit;
    }
  }

  &--boots {
    order: 3;

    @media (min-width: $tablet-width) {
      padding-top: 103px;
    }

    @media (min-width: $desktop-width) {
      order: inherit;
      padding-top: 123px;
    }
  }

  &--distance {
    order: 4;
    padding-top: 80px;

    @media (min-width: $tablet-width) {
      padding-top: 103px;
    }

    @media (min-width: $desktop-width) {
      order: inherit;
      padding-top: 123px;
    }
  }

  &--flower {
    order: 5;
    padding-top: 81px;

    @media (min-width: $tablet-width) {
      padding-top: 103px;
    }

    @media (min-width: $desktop-width) {
      order: inherit;
      padding-top: 123px;
    }
  }
}
