.contacts {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(45, 56, 63, 0.3);

  @media (min-width: $tablet-width) {
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    padding: 100px 120px;
    padding-bottom: 83px;
    border-bottom: none;
  }
}

.contacts__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 15px;
  padding-top: 22px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 45px;
    padding-right: 43px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
    padding: 0;
    margin: 0;
    padding-top: 9px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 24px;
      max-width: 480px;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }
}

.contacts__title {
  @include h2;

  margin: 0;
  margin-bottom: 28px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.contacts__shadow {
  @include shadow;

  top: 22px;

  @media (min-width: $tablet-width) {
    top: 45px;
  }

  @media (min-width: $desktop-width) {
    top: 5px;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 34px;
  }
}

.contacts__subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: $basic-black;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 9px;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__item {
  margin-bottom: 30px;
  padding-left: 32px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
  }

  span {
    margin: 0;
    max-width: 160px;
    display: block;

    @media (min-width: $tablet-width) {
      max-width: 254px;
    }

    @media (min-width: $desktop-width) {
      max-width: 295px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url("../__spritemap#sprite-phone-view");
    background-repeat: no-repeat;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
      left: 1px;
    }

    @media (min-width: $desktop-width) {
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 25px;
    }
  }

  &--email::before {
    background-image: url("../__spritemap#sprite-mail-view");
  }

  &--address::before {
    background-image: url("../__spritemap#sprite-address-view");
  }

  &:last-child {
    margin-bottom: 10px;
  }
}

.contacts__image {
  width: 100%;
  height: 343px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 340px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 49px;
    width: 600px;
    height: 324px;
    margin-left: 120px;
  }
}
