.footer__wrapper {
  padding: 23px 15px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  margin-bottom: 23px;
}

.footer__logo {
  margin-bottom: 23px;
}

.footer__item {
  width: 120px;
  text-align: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer__link {
  text-decoration: none;
  color: #2d383f;
}

.footer__number {
  text-decoration: none;
}

.footer__copyright {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: $basic-black;
}
