.footer {
  @media (min-width: $desktop-width) {
    border-top: 1px solid rgb(45, 56, 63, 0.3);
  }
}

.footer__wrapper {
  padding: 23px 15px;
  padding-top: 22px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 34px 45px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 32px 120px;
    padding-top: 41px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 30px;
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-bottom: 27px;
  }
}

.footer__nav {
  @media (min-width: $desktop-width) {
    margin-left: 139px;
  }
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    gap: 16px;
    margin-top: -4px;
    margin-left: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-top: -1px;
    align-items: center;
    gap: 23px;
  }
}

.footer__logo {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 29px;
  }
}

.footer__item {
  width: 120px;
  text-align: center;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-bottom: 0;
  }

  &:nth-child(2) {
    order: 2;

    @media (min-width: $tablet-width) {
      order: 0;
    }
  }

  &:nth-child(3) {
    order: 5;

    @media (min-width: $tablet-width) {
      order: 0;
    }
  }

  &:nth-child(5) {
    order: 2;

    @media (min-width: $tablet-width) {
      order: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
    order: 6;

    @media (min-width: $tablet-width) {
      order: 0;
    }
  }
}

.footer__link {
  text-decoration: none;
  color: #2d383f;
  font-size: 14px;
  line-height: 14px;
  padding: 2px 4px;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }

  &:hover {
    box-shadow: 0 1px 0 0 #2d383f;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px #2d383f;
    outline: none;
  }

  &:active {
    color: $basic-button;
    box-shadow: none;
  }

  &[aria-disabled="true"] {
    box-shadow: none;
    color: #999999;
    pointer-events: none;
  }
}

.footer__number {
  text-decoration: none;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: $basic-black;
    margin-left: auto;
  }

  &:hover {
    opacity: 0.2;
  }

  &:focus-visible {
    color: $basic-button;
    outline: none;
  }

  &:active {
    color: #1c3374;
    opacity: 1;
  }

  &[aria-disabled="true"] {
    color: #999999;
    pointer-events: none;
  }
}

.footer__copyright {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: $basic-black;
}
