.gallery__wrapper {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  padding-top: 37px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 60px 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-top: 123px;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0 15px;

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 22px;
      padding: 0 45px;
      max-width: 420px;
      margin-bottom: 21px;
    }

    @media (min-width: $desktop-width) {
      font-size: 16px;
      line-height: 24px;
      max-width: 592px;
      padding: 0 120px;
      margin-bottom: 45px;
    }
  }

  p span {
    display: block;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.gallery__title {
  @include h2;

  margin: 0;
  margin-bottom: 26px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
    padding: 0 120px;
  }
}

.gallery__shadow {
  @include shadow;

  top: 23px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    top: 44px;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    top: 105px;
    padding: 0 120px;
  }
}

.gallery__container {
  overflow: hidden;
  height: 269px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    height: 421px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    height: 467px;
  }
}

.gallery__slider {
  @media (min-width: $desktop-width) {
    margin-bottom: 3px;
  }
}

.gallery__slider .gallery__group {
  display: flex;
  flex-direction: column;
  row-gap: 2px;

  @media (min-width: $tablet-width) {
    width: 252px;
    height: 418px;
    row-gap: 1px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
    gap: 3px;
  }
}

.gallery__slider .gallery__picture {
  @media (min-width: $tablet-width) {
    width: 252px;
    height: 418px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery__picture {
  object-fit: cover;
}

.gallery__picture .gallery__image {
  @media (min-width: $tablet-width) {
    height: 418px;
  }

  @media (min-width: $desktop-width) {
    height: 463px;
  }
}
