.header {
  background-color: $basic-button;
  position: relative;

  &--open::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 320px;
    background-color: $basic-button;
    z-index: 2;
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
}

.header__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 13px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 3;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 20px 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 32px 120px;
  }
}

.header__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__item {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.header__link {
  font-weight: 700;
  text-decoration: none;
  color: $basic-white;
  padding: 2px 4px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
  }

  &:hover {
    box-shadow: 0 1px 0 0 #ffffff;
  }

  &:focus-visible {
    box-shadow: 0 0 0 1px #ffffff;
    outline: none;
  }

  &:active {
    color: #1c3374;
    box-shadow: none;
  }

  &[aria-disabled="true"] {
    box-shadow: none;
    color: #999999;
    pointer-events: none;
  }
}

.header__number {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-decoration: none;
  grid-column: 2;
  text-align: right;

  @media (min-width: $tablet-width) {
    order: 3;
    max-width: 300px;
    margin-left: auto;
    font-size: 16px;
    line-height: 16px;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }

  &:hover {
    opacity: 0.5;
  }

  &:focus-visible {
    color: #2d383f;
    outline: none;
  }

  &:active {
    color: #1c3374;
  }

  &[aria-disabled="true"] {
    color: #999999;
    pointer-events: none;
  }
}

.header__nav {
  grid-row: 1;

  &--close .header__list {
    display: block;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0 15px;
    padding-bottom: 50px;
    background-color: $basic-button;
    transition: all 0.1s linear;
    visibility: visible;
    height: auto;
    overflow: none;
    opacity: 0;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      padding: 0 45px;
      padding-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      max-width: 838px;
      column-gap: 22px;
      opacity: 1;
      position: relative;
      padding: 0;
    }
  }

  &--open .header__list {
    display: block;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0 15px;
    padding-bottom: 50px;
    background-color: $basic-button;
    transition: all 0.1s linear;
    visibility: visible;
    height: auto;
    overflow: none;
    opacity: 1;
    box-sizing: border-box;

    @media (min-width: $tablet-width) {
      padding: 0 45px;
      padding-bottom: 70px;
    }
  }
}

.header__logo {
  grid-column: 2;
  margin-bottom: 16px;
  height: 42px;
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 2;
    width: 142px;
    margin-left: 242px;
  }

  @media (min-width: $desktop-width) {
    width: 205px;
    height: 62px;
    order: 0;
  }

  &:focus-visible {
    outline-color: #ffffff;
  }
}

.header__toggle {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--open::before,
  &--open::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background-color: $basic-white;
    left: 0;
    top: 10px;
    transform: rotate(45deg);
  }

  &--open::after {
    transform: rotate(-45deg);
  }

  &--close::before,
  &--close::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: $basic-white;
    left: 0;
    top: 1px;
    box-shadow: 0 17px 0 0 #ffffff;

    @media (min-width: $tablet-width) {
      top: 2px;
    }
  }

  &--close::after {
    width: 16.5px;
    top: 10px;
    box-shadow: none;
  }
}

.header__icon {
  display: block;

  @media (min-width: $desktop-width) {
    width: 205px;
    height: 61px;
  }
}
