.instructors__title {
  @include h2;

  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.instructors__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.instructors__slider {
  overflow: hidden;
}
