.main {
  background-image: url("../../img/bg-mobile@2x.png");
  background-size: 141px 595px;
  background-repeat: no-repeat;
  background-position: right top 578px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/bg-tablet@2x.png");
    background-size: 465px 1630px;
    background-repeat: no-repeat;
    background-position: right top 972px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../img/bg-desktop@2x.png");
    background-size: 631px 1840px;
    background-repeat: no-repeat;
    background-position: right top 675px;
  }
}
