.process__title {
  @include h2;

  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 104px;
  }
}

.process__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 172px;
    row-gap: 104px;
    padding-right: 41px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 183px;
    background-color: $basic-button;
    top: 26px;
    left: 6px;
    z-index: 1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.process__item {
  padding-left: 63px;
  position: relative;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: top 2px left 29px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    background-position: top 2px left;
  }

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: $basic-button;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--map {
    background-image: url("../__spritemap#sprite-map-view");
  }

  &--boot {
    background-image: url("../__spritemap#sprite-boots-view");

    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--trees {
    background-image: url("../__spritemap#sprite-trees-view");

    @media (min-width: $tablet-width) {
      order: 4;
    }
  }

  &--mountains {
    background-image: url("../__spritemap#sprite-mountain-view");
  }
}

.process__text {
  font-size: 12px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    max-width: 225px;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
}
