.reviews__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 0;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 40px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 100px 0;
    padding-bottom: 87px;
  }
}

.reviews__title {
  @include h2;

  margin: 0;
  margin-bottom: 32px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
    padding: 0 120px;
  }
}

.reviews__shadow {
  @include shadow;

  top: 5px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    top: 20px;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    top: 60px;
    padding: 0 120px;
  }
}

.reviews__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reviews__slider {
  @media (min-width: $desktop-width) {
    padding-left: 130px;
  }
}
