.slide {
  background-repeat: no-repeat;
  width: 100%;
  height: 568px;
  background-size: cover;
  position: relative;

  h2 {
    font-weight: 800;
    font-size: 26px;
    line-height: 26px;
    color: $basic-white;
    margin-top: 0;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      font-size: 56px;
      line-height: 56px;
    }

    @media (min-width: $desktop-width) {
      font-size: 77px;
      line-height: 77px;
      text-align: left;
      max-width: 944px;
      margin-bottom: 25px;
    }
  }

  p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: $basic-white;
    margin-top: 0;
    margin-bottom: 60px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
      line-height: 24px;
      max-width: 500px;
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
      max-width: 464px;
    }
  }

  &--one {
    background-image: url("../../img/hero-mobile@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/hero-tablet@2x.jpg");
      height: 1034px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/hero-desktop@2x.jpg");
      height: 800px;
    }
  }

  &--two {
    background-image: url("../../img/hero-mobile-2@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/hero-tablet-2@2x.jpg");
      height: 1034px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/hero-desktop-2@2x.jpg");
      height: 800px;
    }
  }

  &--three {
    background-image: url("../../img/hero-mobile-3@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/hero-tablet-3@2x.jpg");
      height: 1034px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/hero-desktop-3@2x.jpg");
      height: 800px;
    }
  }
}

.slide__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 40px 15px;
  padding-top: 144px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 40px;
    padding-top: 342px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 80px 120px;
    padding-top: 200px;
    align-items: start;
  }
}

.slide__button {
  @include button;

  text-decoration: none;
  padding: 20px;
  width: 180px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: $desktop-width) {
    margin-bottom: 134px;
  }
}

.slide__description {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.slide__duration,
.slide__complexity {
  @media (min-width: $desktop-width) {
    font-size: 12px;
    line-height: 16px;
    color: $basic-white;
    padding: 14px 20px;
    padding-left: 40px;
    border: 1px solid rgb(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: top 16px left 20px;
  }
}

.slide__duration {
  background-image: url("../__spritemap#sprite-moon-view");
}

.slide__complexity {
  background-image: url("../__spritemap#sprite-level-view");
}
