.tours {
  background-image: url("../../img/bg-mobile-1@2x.png");
  background-repeat: no-repeat;
  background-position: right top 10px;
  background-size: 141px 595px;

  @media (min-width: $tablet-width) {
    background-image: none;
  }
}

.tours__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 15px;
  padding-top: 13px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 100px 120px;
  }
}

.tours__title {
  @include h2;

  text-align: left;
  margin-bottom: 40px;
  margin-top: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.tours__shadow {
  @include shadow;

  top: 24px;

  @media (min-width: $tablet-width) {
    top: 45px;
  }
}

.tours__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tours__slider {
  margin-bottom: 25px;
  overflow: hidden;
  max-width: 290px;

  @media (min-width: $tablet-width) {
    max-width: 678px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
    max-width: 1200px;
    overflow: hidden;
  }
}

.tours__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #2d383f;
  display: block;
  text-align: left;
  padding: 9px;
  max-width: 212px;
  margin: 0 auto;
  position: relative;
  padding-left: 33px;
  word-spacing: 3px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    padding-left: 6px;
    word-spacing: 4px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 14px;
    mask-image: url("../__spritemap#sprite-arr-link-view");
    mask-repeat: no-repeat;
    background-color: #2d383f;
    right: 29px;
    top: 9px;

    @media (min-width: $tablet-width) {
      right: 4px;
      top: 10px;
    }
  }

  &:hover {
    color: rgba(2, 102, 193, 0.2);
  }

  &:hover::before {
    background-color: rgba(2, 102, 193, 0.1);
  }

  &:focus-visible {
    color: $basic-button;
    outline: none;
  }

  &:focus-visible::before {
    background-color: $basic-button;
  }

  &:active {
    color: #1c3374;
  }

  &:active::before {
    background-color: #1c3374;
  }

  &[aria-disabled="true"] {
    color: #999999;
    pointer-events: none;
  }

  &[aria-disabled="true"]::before {
    background-color: #999999;
    pointer-events: none;
  }
}
