.tours-card {
  padding: 29px 20px;
  padding-top: 224px;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #054d05;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 330px;
    min-height: 416px;
  }

  @media (min-width: $desktop-width) {
    max-width: 380px;
  }

  &--one {
    background-image: url("../../img/tours-mobile-1@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/tours-tablet-1@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/tours-desktop-1@2x.jpg");
    }
  }

  &--two {
    padding-top: 192px;
    background-image: url("../../img/tours-mobile-2@2x.jpg");

    @media (min-width: $tablet-width) {
      padding-top: 224px;
      background-image: url("../../img/tours-tablet-2@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/tours-desktop-2@2x.jpg");
    }
  }

  &--three {
    padding-top: 164px;
    background-image: url("../../img/tours-mobile-3@2x.jpg");

    @media (min-width: $tablet-width) {
      background-image: url("../../img/tours-tablet-3@2x.jpg");
      padding-top: 195px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/tours-desktop-3@2x.jpg");
      padding-top: 196px;
    }
  }

  &--four {
    background-image: url("../../img/tours-mobile-4@2x.jpg");
    padding-top: 192px;

    @media (min-width: $tablet-width) {
      background-image: url("../../img/tours-tablet-4@2x.jpg");
      padding-top: 224px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../../img/tours-desktop-4@2x.jpg");
    }
  }
}

.tours-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $basic-white;
  order: 2;
  margin: 0;
  margin-bottom: 31px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 233px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: rgb(255, 255, 255, 0.2);
    top: 71px;
  }
}

.tours-card__description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  row-gap: 12px;
}

.tours-card__location {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: $basic-white;
  padding: 8px 13px;
  padding-left: 34px;
  background-color: $basic-button;
  position: relative;
  margin-right: auto;

  &::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 12px;
    background-image: url("../__spritemap#sprite-pin-view");
    background-repeat: no-repeat;
    left: 16px;
  }
}

.tours-card__time {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: $basic-white;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.tours-card__days,
.tours-card__nights {
  padding: 4px 0;
  padding-left: 32px;
  position: relative;
}

.tours-card__days {
  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../__spritemap#sprite-sun-view");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
}

.tours-card__nights {
  margin-left: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("../__spritemap#sprite-moon-view");
    background-repeat: no-repeat;
    left: 0;
    top: 0;
  }
}

.tours-card__list {
  order: 3;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 7px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tours-card__item {
  dt {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    color: $basic-white;
    margin-bottom: 7px;
  }

  dd {
    margin-left: 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    color: $basic-white;
  }
}

.tours-card__icon {
  margin-top: -3px;
}
