.tours {
  background-image: url("../../img/bg-mobile-1@2x.png");
  background-repeat: no-repeat;
  background-position: right top 10px;
  background-size: 141px 595px;
}

.tours__wrapper {
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 15px;
  position: relative;
}

.tours__title {
  @include h2;

  text-align: left;
  margin-bottom: 42px;
  margin-top: 16px;
}

.tours__shadow {
  @include shadow;
}

.tours__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tours__slider {
  margin-bottom: 25px;
}

.tours__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #2d383f;
  display: block;
  text-align: center;
  padding: 10px;
  max-width: 212px;
  margin: 0 auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 13px;
    mask-image: url("../__spritemap#sprite-arr-link-view");
    mask-repeat: no-repeat;
    background-color: #2d383f;
    right: 10px;
    top: 12px;
  }

  &:hover {
    color: rgba(2, 102, 193, 0.1);
  }

  &:hover::before {
    background-color: rgba(2, 102, 193, 0.1);
  }

  &:focus-visible {
    color: $basic-button;
    outline: none;
  }

  &:focus-visible::before {
    background-color: $basic-button;
  }

  &:active {
    color: #1c3374;
  }

  &:active::before {
    background-color: #1c3374;
  }

  &[aria-disabled="true"] {
    color: #999999;
    pointer-events: none;
  }

  &[aria-disabled="true"]::before {
    background-color: #999999;
    pointer-events: none;
  }
}
