// Шрифты
@mixin font-face($font-family, $font-weight, $font-style, $font-display, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: $font-display;
    src: $font-src;
  }
}

// Заголовки
@mixin h2 {
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}

// Кнопки
@mixin button {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $basic-white;
  background-color: $basic-button;
  cursor: pointer;

  &:hover {
    color: #1c3374;
    background-color: $basic-white;
    box-shadow: 0 0 0 1px #1c3374;
  }

  &:focus-visible {
    color: #1c3374;
    background-color: $basic-white;
    outline: none;
  }

  &:active {
    background-color: #1c3374;
    color: $basic-white;
  }

  &[aria-disabled="true"] {
    background-color: #999999;
    color: $basic-white;
    pointer-events: none;
  }
}


@mixin shadow {
  position: absolute;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
  color: rgb(45, 56, 63);
  opacity: 3%;
  top: 20px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
    top: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 55px;
    line-height: 55px;
    top: 100px;
  }
}
