// Шрифты
$primary-font: "Montserrat", "arial", sans-serif;

// Цвета
$basic-white: #ffffff;
$basic-black: #2d383f;
$basic-button: #0266c1;
$secondary-button: #2d383f;
$basic-icon: #2d383f;
$secondary-icon: #0266c1;
$gradient: linear-gradient(-51deg, #d10a42 0%, #0041ca 50%);
$button-gradient: linear-gradient(to left, #003eb7 0%, #ed0233 100%);
$background-gradient: linear-gradient(to right, #1c3477 0%, #1a3578 39%, #73184b 76%, #b4022a 100%);

// Размеры вьюпортов
$tablet-width: 768px;
$desktop-width: 1440px;
