// Шрифты
$primary-font: "Montserrat", "arial", sans-serif;

// Цвета
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #c8c9cc;
$primary-color: #102654;
$secondary-color: #103aae;
$button-blue: #1c3374;
$tabs-color: #d10a42;
$background-secondary: #f8f9fc;
$banners-color: #ed0233;
$background-footer: #030a1a;
$error-color: #ff121f;
$gradient: linear-gradient(-51deg, #d10a42 0%, #0041ca 50%);
$button-gradient: linear-gradient(to left, #003eb7 0%, #ed0233 100%);
$background-gradient: linear-gradient(to right, #1c3477 0%, #1a3578 39%, #73184b 76%, #b4022a 100%);

// Размеры вьюпортов
$tablet-width: 768px;
$desktop-width: 1366px;
